{% extends "layout.html" %}
{% block content %}
<h1>It is you're banking app</h1>
<p>
If you want to connect on you're account go on the <a href="/Home">Home</a> page, click on the customer button and enter yours IDs
</p>
<p>
    If you're a banker please go on the <a href="/Home">Home</a> page, click on the bank button, enter the bank's Pin code andyou will have access to the bank interface
</p>
<img class="image" src="C:/Users/ihadi/OneDrive/Desktop/cours%20iralnde/Python/FinalProjectPython/ProjectTemplate/images/BankerImage.jpg" alt="L'image ne s'affiche pas">
{% endblock content %}