{% extends "layout.html" %}
{% block content %}
<p class="layout">
    <h1>It is you're banking app</h1>
    <p>
        If you want to connect on you're account, go on the <a href="/Home">Home</a> page, click on the customer image on the left and enter yours IDs
    </p>
    <p>
        If you're a banker please go on the <a href="/Home">Home</a> page, click on the bank image on the right, enter the bank's Pin code and you will have access to the bank interface
    </p>
</p>
{% endblock content %}