{% extends "layout.html" %}
{% block content %}

<div class="content">
    <!-- Box 1 -->
    <section class="box1">
        <h2>Box 1</h2>
        <!-- Contenu de la Box 1 ici -->
        <a href="/bankerLog"><img src="/static/images/BankerImage.jpg" style="height: 500px; width: 650px;"></a>
    </section>

    <!-- Box 2 -->
    <section class="box2">
        <h2>Box 2</h2>
        <a href="/login"><img src="/static/images/CustomerImage.jpg" style="height: 500px; width: 650px;"></a>
    </section>
</div>

<!-- Footer -->
<footer>
    <p>Mon Footer</p>
    <!-- Ajoutez d'autres éléments de pied de page ici -->
</footer>



{% endblock content %}