{% extends "layout.html" %}
{% block content %}

<div class="content">
    <!-- Box 1 -->
    <section class="box1">
        <h2>Box 1</h2>
        <!-- Contenu de la Box 1 ici -->
        <a href="/bankerLog">Logging as a bank employee</a>
    </section>

    <!-- Box 2 -->
    <section class="box2">
        <h2>Box 2</h2>
        <a href="/login">Logging as a customer</a>
    </section>
</div>

<!-- Footer -->
<footer>
    <p>Mon Footer</p>
    <!-- Ajoutez d'autres éléments de pied de page ici -->
</footer>
<img class="image" src="{{user_image1}}" alt="L'image ne s'affiche pas">
<img class="image" src="{{user_image2}}" alt="L'image ne s'affiche pas"/> 

{% endblock content %}