{% extends "layout.html" %}
{% block content %}
<p>azkedjaejaz
    ea'
    '
    '
    
    '
    '
    '
    '
    ''
    '
</p>
<div id="entete">
    En tête
   </div>
   
   <div id="main">
    <div id="menu">
     Menu
    </div>
   
    <div id="contenu">
     Contenu
    </div>
   </div>
   
   <div id="footer">
    Pied de Page
   </div>
   <img class="image" src="{{user_image1}}" alt="L'image ne s'affiche pas">
   <img class="image" src="{{user_image2}}" alt="L'image ne s'affiche pas"/> 

{% endblock content %}