body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.content {
    display: flex;
    flex: 1;
}

.box1, .box2 {
    padding: 20px;
    margin: 10px;
    border: 1px solid #fff;
    flex: 1;
}

.box1 {
    order: 2;
}

.box2 {
    order: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}